[submodule "src/third_party/libyuv"]
	path = src/third_party/libyuv
	url = https://gitlab.com/chromiumsrc/libyuv.git
[submodule "src/third_party/pipewire"]
	path = src/third_party/pipewire
	url = https://github.com/PipeWire/pipewire.git
